<p style="color: green"><%= notice %></p>

<h1>Portfolios</h1>

<div id="portfolios">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
  <% @portfolio_items.each do |portfolio| %>
    <tr>
          <td><%= portfolio.title %></td>
          <td><%= portfolio.subtitle %></td>
          <td><%= portfolio.body %></td>
      <td><%= link_to "Show", portfolio %></td>
      <td><%= link_to "Edit", edit_portfolio_path(portfolio) %></td>
      <td><%= link_to "Destory", portfolio,method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>

<%= link_to "New portfolio", new_portfolio_path %>
